[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask = "*"
nose2 = "*"
coverage = "*"
coveralls = "*"
pylint = "*"
pydocstyle = "*"
mypy = "*"
arxiv-base = "==0.15.4rc1"

[packages]
hvac = "*"
arxiv-vault = {path = "."}
dataclasses = "*"

[requires]
python_version = "3.6"
